/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    background-color: #1f1f1f;
    overflow: auto;
}

h1 {
    color: white;
    font-size: 25px;
}

h2 {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

.container {
    margin: 1rem;
    text-align: center;
}

/* SELECTOR AREA 1*/
#selectorArea1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

/* SELECTOR AREA 2*/
#selectorArea2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.arrow {
    background-color: transparent;
    height: 50px;
    padding: 0px;
    border-color: transparent;
}

.arrowImg {
    height: 50px;
}

#selectionText {
    font-family: arcade;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 16px;
}



/* CAPTURE AREA */

.machineTemplate {
    position: relative;
    object-fit: contain;
    object-position: center;
    /* width: 530px; */
    width: 340px;
    z-index: -10;
    display: block
        /* do not remove display: block, it removes the 3px padding on chrome */
}

#termDisplay {
    color: #da3334;
    position: absolute;
    top: 129px;
    text-align: center;
    width: 100%;
    font-size: 8px;
    font-family: arcade;
}

#dayTag {
    color: #f9de54;
    position: absolute;
    top: 96px;
    text-align: left;
    right: 59px;
    font-size: 9px;
    font-family: arcade;
}

#monthTag {
    color: #f9de54;
    position: absolute;
    top: 96px;
    text-align: center;
    width: 100%;
    font-size: 9px;
    font-family: arcade;
}

#yearTag {
    color: #f9de54;
    position: absolute;
    top: 96px;
    text-align: left;
    left: 59px;
    font-size: 9px;
    font-family: arcade;
}

#dayVal {
    color: white;
    position: absolute;
    top: 107px;
    text-align: left;
    right: 59px;
    font-size: 9px;
    font-family: arcade;
}

#monthVal {
    color: white;
    position: absolute;
    top: 107px;
    text-align: center;
    width: 100%;
    font-size: 9px;
    font-family: arcade;
}

#yearVal {
    color: white;
    position: absolute;
    top: 107px;
    text-align: left;
    left: 59px;
    font-size: 9px;
    font-family: arcade;
}

#hs-text {
    color: #da3334;
    position: absolute;
    top: 144px;
    text-align: center;
    width: 100%;
    font-size: 11px;
    font-family: arcade;
}

#artist-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 13px;
    z-index: 10;
}

#artist-item2 {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-family: arcade;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

#leaderboard-view {
    color: #da3334;
    position: absolute;
    top: 176px;
    text-align: right;
    left: 60px;
    font-size: 8px;
    font-family: arcade;
}

#leaderboard-item {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
}

#main-view {
    position: absolute;
    top: 176px;
    text-align: left;
    left: 90px;
    font-size: 9px;
    font-family: arcade;
}

#artistOrGenreOnly-item {
    display: inline-block;
    color: #f9de54;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
}

#songName-item {
    display: inline-block;
    color: #f9de54;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#songName-item2 {
    color: #f9de54;
    text-decoration: none;
    text-align: left;
    font-size: 13px;
    font-family: arcade;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#songName-item3 {
    color: #f9de54;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    font-size: 13px;
    font-family: arcade;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

#popScore-view {
    color: #575ff7;
    position: absolute;
    top: 176px;
    text-align: left;
    right: 60px;
    font-size: 9px;
    font-family: arcade;
}

#popScore-item {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
}

#userNameView {
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 451px;
    text-align: center;
    font-size: 10px;
    font-family: arcade;
}

#userName {
    color: #da3334;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#userName2 {
    color: #da3334;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#userStatName {
    color: #575ff7;
    position: absolute;
    top: 148px;
    text-align: center;
    left: 131px;
    font-size: 10.3px;
    font-family: arcade;
}

#userStatName2 {
    color: #575ff7;
    position: absolute;
    top: 161px;
    text-align: center;
    left: 131px;
    font-size: 10.3px;
    font-family: arcade;
}

#countryName {
    color: white;
    position: absolute;
    top: 179px;
    text-align: center;
    left: 131px;
    font-size: 9px;
    font-family: arcade;
}

#userStatTitle1 {
    color: red;
    position: absolute;
    top: 202px;
    text-align: center;
    width: 100%;
    font-size: 10px;
    font-family: arcade;
}

#userStatTitle2 {
    color: red;
    position: absolute;
    top: 253px;
    text-align: center;
    left: 25%;
    font-size: 9px;
    font-family: arcade;
}

#userStatTitle3 {
    color: red;
    position: absolute;
    top: 253px;
    text-align: center;
    right: 64px;
    font-size: 9px;
    font-family: arcade;
}

#userStatTitle4 {
    color: red;
    position: absolute;
    top: 364px;
    text-align: center;
    left: 25%;
    font-size: 9px;
    font-family: arcade;
}

#userStatTitle5 {
    color: red;
    position: absolute;
    top: 364px;
    text-align: center;
    right: 64px;
    font-size: 9px;
    font-family: arcade;
}

#prof-image {
    position: absolute;
    left: 68px;
    top: 150px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#popArtImg {
    position: absolute;
    left: 83px;
    top: 298px;
    width: 66px;
    height: 66px;
}

#obsArtImg {
    position: absolute;
    right: 82px;
    top: 298px;
    width: 66px;
    height: 66px;
}

#popTrkImg {
    position: absolute;
    left: 83px;
    top: 409px;
    width: 66px;
    height: 66px;
}

#obsTrkImg {
    position: absolute;
    right: 82px;
    top: 409px;
    width: 66px;
    height: 66px;
}

#obs_score {
    color: white;
    position: absolute;
    top: 212px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: arcade;
}

#total-text {
    color: #575ff7;
    position: absolute;
    bottom: 157px;
    text-align: center;
    width: 100%;
    font-size: 9px;
    font-family: arcade;
}

#captureArea {
    /* border: 4px solid white; */
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    /* display: relative; */
    position: relative;
}

#dynamicTags {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* NAV BAR */

.nav {
    color: white;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
}

.site-title {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    height: 100%;
    margin: 10px;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    gap: 1rem;
}

.nav li {
    display: inline;
    border-radius: 5px;
    font-family: Clarkson, Helvetica, sans-serif;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: inline-block;
    padding: 1rem;
    text-align: center;
}

.nav li.active {
    background-color: #24e68e;
    color: #1f1f1f;
}

.nav li:hover {
    background-color: #a7fa96;
    color: #1f1f1f;
}

.homeText {
    margin: 20px;
    font-size: 16px;
    font-family: arcade;
}

/* DOWNLOAD AND LOGOUT */

.downloadButton {
    display: inline-block;
}

.logoutButton {
    display: inline-block;
}

/* SPOTIFY BUTTON */

.spotifyButton {
    appearance: none;
    background-color: #24e68e;
    border-width: 0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 20px;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.spotifyButton:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #a7fa96;
    border-radius: 15px;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.spotifyButton:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.spotifyButton:after {
    background-color: #a7fa96;
}

.spotifyButton span {
    z-index: 1;
    position: relative;
}

/* BOTTOM FOOTER */

.footerLine {
    margin: 0;
    display: inline-block;
    position: relative;
    border-top: 1px solid #ccc;
    height: 1px;
    width: 300px;
}

.nameTag {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin: 2px;
    color: white;
    font-size: 12px;
    font-family: arcade;
}

.nameLink {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 2px;
    margin-top: 20px;
    text-decoration: none;
    color: #24e68e;
    font-size: 12px;
    font-family: arcade;
}

.contact-link {
    color: white;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: #24e68e;
}

.spotifyLogo {
    width: 150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.center {
    margin: 0;
    text-align: center;
}

.about-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: relative;
    position: relative;
}

.about-text {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: arcade;
    src: url("./assets/ARCADE_N.TTF");
}